@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@500&family=Play&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@300;400;600&display=swap");

.book-bg {
  height: 100vh;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: red;
}

.btn-search:hover {
  color: white;
}
